{% extends "layout.html" %}

{% block title %}
    Check
{% endblock %}

{% block main %}
    <form action="/History" method="post">
        <h5>Enter stock symbol:</h5>
        <div>
            <input name="symbol" placeholder="Symbol" type='text'>
        </div>
        <p><br> </p>
        <h5>Enter start date in format (YYYY-MM-DD):</h5>
        <div>
            <input name="start" placeholder="YYYY-MM-DD" type='text'>
        </div>
        <p><br> </p>
        <h5>Enter end date in format (YYYY-MM-DD):</h5>
        <div>
            <input name="end" placeholder="YYYY-MM-DD" type='text'>
        </div>
        <p><br> </p>
        <h5>Enter interval:</h5>
        <i>Select from: {1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo}</i>
        <div>
            <input name="interval" placeholder="Interval" type='text'>
        </div>
        <p><br></p>
        <button class = "btn btn-primary" type = "submit">Extract</button>


    </form>
{% endblock %}